{% extends "base_site.html" %}
{% load i18n %}
{% load static %}


{% block title %}{% trans "Patient profile" %}{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main" style="min-height: 936px">
            <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_title">
                <h2>{{ patient.name }} <a href="{% url "edit_patient" patient_id=patient.id %}"><i class="fa fa-gear"></i><span
                        class="fa"></span></a>
                </h2>
              <div class="clearfix">
                  <table id="datatable" class="table table-striped table-bordered" style="border-collapse: collapse; border-spacing: 0;">
                    <thead>
                        <!--
                        <colgroup>
                            <col span="2" style="background-color: green">
                            <col span="3" style="background-color:rgb(230, 230, 141)">
                            <col span="1" style="background-color: green">
                            <col span="1" style="background-color:rgb(230, 230, 141)">
                            <col span="1" style="background-color: green">
                            <col span="5" style="background-color:rgb(230, 230, 141)">
                            <col span="1" style="background-color: green">
                        </colgroup
                        -->
                      <tr>
                          <th style="">{% trans 'Date' %}</th>
                          <th>{% trans 'Outcome' %}</th>
                          <th>{% trans 'Right image' %}</th>
                          <th>{% trans 'Left Image' %}</th>
                          <th>{% trans 'Thermal image' %}</th>
                          <th>{% trans 'Number of PIs' %}</th> 
                          <th>{% trans 'Tissue types' %}</th>
                          <th>{% trans 'Ruler' %}</th>
                          <th>{% trans 'Perimeter' %}</th>
                          <th>{% trans 'Area' %}</th>
                          <th>{% trans 'Granulation' %}</th>
                          <th>{% trans 'Slough' %}</th>
                          <th>{% trans 'Necrosis' %}</th>
                          <th>{% trans 'Delete' %}</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for test in tests %}
                            
                            <tr>
                                
                                <td style="width: 30%"><a href="{% url "search_tests" patient_id=patient.id test_id=test.id %}">
                                    {{ test.date.year }}/{{ test.date.month }}/{{ test.date.day }}-{{ test.date.hour }}:{{ test.date.second }}
                                </a></td>
                                <td>{{ test.outcome }}</td>
                                <td>
                                    {% if test.camera_rasp %}
                                        <a href="/images/{{ test.camera_rasp }}">{{ test.ImageRight }}</a>
                                    {% else %}
                                        <strike><p>Image</p></strike>
                                    {% endif %}
                                </td>
                                <td>      
                                    {% if test.Segmented_leftImage %}
                                        <a href="/images/{{ test.Segmented_leftImage }}">{{ test.ImageLeft }}</a>
                                    {% elif test.camera_kurokesu %}    
                                        <a href="/images/{{ test.camera_kurokesu }}">{{ test.ImageLeft }}</a>   
                                    {% else %}
                                        <strike><p>Image</p></strike>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if test.thermal_camera %}
                                        <a href="/images/{{ test.thermal_camera }}">{{ test.Imagetherm }}</a>
                                    {% else %}
                                        <strike><p>Image</p></strike>
                                    {% endif %}
                                </td>
                                <td>{{ test.NumberUlcers }}</td>
                                <td>{{ test.TissueTypes }}</td>
                                <td>{{ test.Ruler }}</td>
                                <td>{{ test.Perimeter }}</td>
                                <td>{{ test.Area }}</td>
                                <td>{{ test.Granulation }}</td>
                                <td>{{ test.Slough }}</td>
                                <td>{{ test.Necrosis }}</td>
                                <td><a href="{% url "remove_test" patient_id=patient.id test_id=test.id %}"><i class="glyphicon glyphicon-minus-sign"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                  </div>
                </div>
            </div>
    </div>
{% endblock content %}

{% block javascripts %}

    {{ block.super }}
{% endblock javascripts %}
