{% extends "base_site.html" %}
{% load i18n %}
{% load static %}


{% block title %}{% trans "Test overview" %}{% endblock title %}

{% block stylesheets %}
    {{ block.super }}
    <link href="/static/css/magnific-popup.css" rel="stylesheet">
    <link href="/static/css/loading.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/canvas.css"/>

{% endblock stylesheets %}

{% block content %}


    <div class="right_col" role="main" style="min-height: 936px">
      <div class="">
        <div class="page-title">
                  <div class="title_left">
                    <h3> Test Overview </h3>
                  </div>
        </div>
        <div class="clearfix"></div>
        {% for key, value in data_test.items %}
          <div class="col-md-6 col-sm-6">
  {#         <div class="x_panel">#}
  {#           <div class="x_title">#}
  {#             <h2>Line graph<small>Sessions</small></h2>#}
  {#             <ul class="nav navbar-right panel_toolbox">#}
  {#               <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>#}
  {#               </li>#}
  {#             </ul>#}
  {#             <div class="clearfix"></div>#}
  {#           </div>#}
        <div class="x_content">
          <canvas id="{{ key }}"></canvas>
        </div>
{#      </div>#}
          </div>
        {% endfor %}
        <div class="clearfix"></div>
        <h2>{% trans "Distance cameras" %} {{ test.distance }}</h2>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_content">
              <div class="col-md-55">
                <div class="thumbnail">
                  <div class="image view view-first">
{#                  <img style="width: 100%; display: block;" src="/images/{{ test.camera_kurokesu }}" alt="image" />#}
                    <a class="image-link" href="/images/{{ test.camera_kurokesu }}">
                    <img src="/images/{{ test.camera_kurokesu }}"></a>
                  </div>
                  <div class="caption">
                    <p><strong>Left camera</strong>
                    </p>
                  </div>
                </div>
              </div>

                            <div class="col-md-55">
                                <div class="thumbnail">
                                  <div class="image view view-first">
{#                                    <img style="width: 100%; display: block;" src="/images/{{ test.camera_rasp }}" alt="image" />#}
                                      <a class="image-link" href="/images/{{ test.camera_rasp }}">
                                      <img src="/images/{{ test.camera_rasp }}"></a>
                                  </div>
                                  <div class="caption">
                                    <p><strong>Right camera</strong>
                                    </p>
                                  </div>
                                </div>
                          </div>

                            <div class="col-md-55">
                                <div class="thumbnail">
                                  <div class="image view view-first">
{#                                    <img style="width: 100%; display: block;" src="/images/{{ test.thermal_camera }}" alt="image" />#}
                                    <a class="image-link" href="/images/{{ test.thermal_camera }}">
                                      <img src="/images/{{ test.thermal_camera }}"></a>
                                  </div>
                                  <div class="caption">
                                    <p><strong>Thermal camera</strong>
                                    </p>
                                  </div>
                                </div>
                          </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button style="background: #2A3F54;" class="btn btn-primary" id="showContent" >Analyze Data </button>
        <!-- Button trigger modal -->
        <button style="background: #2A3F54;" type="button" id="launch-paint" class="btn btn-primary" data-toggle="modal" data-target="#paint-modal">
          Launch Paint
        </button>
        <div id = "loading"  class="lds-facebook"><div></div><div></div><div></div></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-3">
            <table style="width: 25%" id="datatable" class="table table-striped table-bordered" style="border-collapse: collapse; border-spacing: 0;">
            <tbody >  
              <tr>
                <th >Date</th>
                <td >
                  <a href="{% url "search_tests" patient_id=patient.id test_id=test.id %}">
                    {{ test.date.year }}/{{ test.date.month }}/{{ test.date.day }}-{{ test.date.hour }}:{{ test.date.second }}
                  </a>
                </td>
              </tr>
              <tr>
                <th>Outcome</th>
                <td>{{ test.outcome }}</td>
              </tr>
              <tr>
                <th>Number of PIs</th>
                <td>{{ test.NumberUlcers }}</td> 
              </tr>
              <tr>
                <th>Tissue types</th>
                <td>{{ test.TissueTypes }}</td>
              </tr>
              <tr>
                <th>Ruler</th>
                <td>{{ test.Ruler }}</td>            
              </tr>
              <tr>
                <th>Perimeter</th>
                <td>{{ test.Perimeter }}</td>
              </tr>
              <tr>
                <th>Area</th>
                <td>{{ test.Area }}</td>
              </tr>
              <tr>
                <th>Granulation</th>
                <td>      
                  {% if test.Segmented_leftImage_g %}
                      <a href="/images/{{ test.Segmented_leftImage_g }}">{{ test.Granulation }}</a>
                  {% else %}
                      <p>None</p>
                  {% endif %}
              </td>
              </tr>
              <tr>
                <th>Slough</th>
                <td>      
                  {% if test.Segmented_leftImage_s %}
                      <a href="/images/{{ test.Segmented_leftImage_s }}">{{ test.Slough }}</a>
                  {% else %}
                      <p>None</p>
                  {% endif %}
              </td>
              </tr>
              <tr>
                <th>Necrosis</th>
                <td>      
                  {% if test.Segmented_leftImage_n %}
                      <a href="/images/{{ test.Segmented_leftImage_n }}">{{ test.Necrosis }}</a>
                  {% else %}
                      <p>None</p>
                  {% endif %}
              </td>
              </tr>
                  <th>Delete</th>
                  <td><a href="{% url "remove_test" patient_id=patient.id test_id=test.id %}"><i class="glyphicon glyphicon-minus-sign"></i></a></td>
              </tr>
            </tbody>                                   
            </table>
          </div>
          <div class="col-5">
            <canvas class = "mb-0 p-0" id="pie-chart" width="800" height="450"></canvas>
          </div>
          <div class="col-4">
            <div class="card text-center">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                  <li class="nav-item">
                    <a class="nav-link active">Granulation</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link">Slough</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled">Necrosis</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <img id="tissueToShow" src = "/images/not_found.jpg" alt="Image Selected" width="100%" length="100%">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade modal-center" id="paint-modal" role="modal" aria-labelledby="paint-modal-label" aria-hidden="true">
	
        <div class="modal-dialog modal-lg">
        
          <div class="modal-content" style="width: 960px;">             
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Edit Ulcer</h5>
              <div id="color-panel">
                <div class="btn-group">
                  
                  <button class="btn" type="button" data-color="red" title="Red" style="background-color:red">
                  </button>         
                  <button class="btn" type="button" title="Yellow"  data-color="yellow" style="background-color:yellow">	
                  </button>          
                  <button class="btn" type="button"  data-color="purple" title="Purple" style="background-color:purple">	
                  </button>               
                  <button class="btn" type="button" title="Black"  data-color="black" style="background-color:black">	
                  </button>     
                  
                  
                </div>
      
              </div>	
              <div id="paint-undo-redo">
                <div class="btn-group">
                  <button id="undo-tool" class="btn" type="button" title="Undo">	
                    <div class="fa fa-undo"></div>
                  </button>          
                  <button id="redo-tool" class="btn" type="button" title="Redo">	
                    <div class="fa fa-repeat"></div>
                  </button>          
                </div>
              </div>
              <button id="paint-clear" type="button" class="btn btn-default">Clear</button>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
      
            <div class="modal-body">
              <div id="paint">
              
                <div id="sketch" style="width: 664px; height: 384px;">
                  <canvas id="canvas"></canvas>
                </div>
      
                <div id="paint-panel">
      
                  <div class="btn-group">
                    <button class="btn" type="button" data-divbtn="pencil" title="Pencil">
                      <div class="fa fa-pencil"></div>
                    </button>
      
                    <button class="btn" type="button" data-divbtn="line" title="Line">
                      <b class="">&nbsp;|</b>
                    </button>
      
                    <button class="btn" type="button" data-divbtn="eraser" title="Eraser">
                      <div class="fa fa-eraser"></i>
                    </button>
      
                    <button class="btn" type="button" data-divbtn="square" title="Square">
                      <div class="fa fa-square-o"></div>
                    </button>
      
                    <button class="btn" type="button" data-divbtn="fill" title="Fill">
                      <div class="fa fa-tint"></div>
                    </button>
      
                    <button class="btn" type="button" data-divbtn="circle" title="Circle">
                      &nbsp;<div class="fa fa-circle-o"></div>
                    </button>
      
                    <button class="btn" type="button" data-divbtn="text" title="Text">
                      <div class="fa fa-font"></div>
                    </button>
      
                    <button class="btn" type="button" data-divbtn="ellipse" title="Ellipse">
                      <div class="fa fa-opera"></div>
                    </button>
      
                    
                    
                  </div>
      
                  <form id="choose-size">
                    <div class="title">pick size</div>
                    <div class="radio-group">
                      <input type="radio" name="size" value="1">1</div>
                    <div class="radio-group">
                      <input type="radio" name="size" value="2" checked="checked">2</div>
                    <div class="radio-group"><input type="radio" name="size" value="3">3</div>
                    <div class="radio-group"><input type="radio" name="size" value="4">4</div>
                  </form>
      
                </div>		
      
              </div>	
            </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id = "download-image" onclick="saveImage()">Download</button>
              <button type="button" class="btn btn-secondary" id="but_upload">Upload</button>
            </div>  
          </div>
          
             
        
        </div>
            
      </div>  
      <!-- Modal 
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      -->
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/vendors/Chart.js/dist/Chart.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.js"></script>
    <script>

            function dynamicColors() {
                var r = Math.floor(Math.random() * 255);
                var g = Math.floor(Math.random() * 255);
                var b = Math.floor(Math.random() * 255);
                return "rgba(" + r + "," + g + "," + b + ", 1)";
            }

            function poolColors(a) {
                var pool = [];
                for(i = 0; i < a; i++) {
                    pool.push(dynamicColors());
                }
                return pool;
            }
            {% for key, value in data_test.items %}
            var ctx = document.getElementById('{{key}}').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'line',
                responsive: true,
                data: {
                    datasets: [
                        {
                            label: '{{ key }}',
                            data: {{value.0}},
                            {#backgroundColor: poolColors(1),#}
                            backgroundColor: "{{value.1}}",
                            borderColor: "{{value.1}}",
                            fill: false
                            {#borderColor: "rgba(247, 191, 190, 1)"#}
                        },
                    ],
                    labels: {{label}}
                },
                options: {
                    scales: {
                        xAxes: [{
                             ticks: {
                                 maxTicksLimit: 15,
                                 maxRotation: 50,
                                 minRotation: 50
                             },
                             scaleLabel: {
                                 display: true,
                                 labelString: '{% trans 'Index' %}'
                             }
                         }],
                        yAxes: [{
                            ticks: {
                                suggestedMin: 0,
                                suggestedMax: 1
                            },
                            scaleLabel: {
                                 display: true,
                                 labelString: '{% trans 'Concentration (ppm)' %}'
                             }
                        }]
                    }
                }
            });
            {% endfor %}
    </script>
    <script type="text/javascript">
        $("#showContent").click(function(){
          console.log("starting Analyze")
          $("#loading").show();
          $('#showContent').prop('disabled', true);
          $.ajax({
            url: "/ajax/analyze_data/",
            data: {
              'test_id': {{ test.id }}
            },
            dataType: 'json',
            success: function(result){
              console.log(result)
              if (result.status == "Finished"){
                $("#loading").hide();
                $('#showContent').prop('disabled', false);
              }
              
          }});
        });
        $("#but_upload").click(function(){
          let image64 = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");  // here is the most important part because if you dont replace you will get a DOM 18 exception.
          $.ajax({
              url: '/ajax/save_image/',
              type: 'POST',
              data: {
                "image": image64,
                "test_id": {{ test.id }},
                "patient_id": {{patient.id }}
              },
              dataType: 'json',
              success: function(response){
                console.log(response)       
              },
          });
        });
    </script>
    <script type="text/javascript">
      let granulation = "{{ test.Granulation }}";
      let slough = "{{ test.Slough }}";
      let necrosis = "{{ test.Necrosis }}";
      let rest = 0      
      granulation = parseFloat(granulation.match(/[\d\.]+/))
      slough = parseFloat(slough.match(/[\d\.]+/))
      necrosis = parseFloat(necrosis.match(/[\d\.]+/))
      console.log("g: ", granulation, " s: ", slough, " n: ", necrosis)
      if (granulation == 0 || necrosis == 0 || slough == 0){
        rest = 100 - granulation -necrosis - slough; 
      }

      new Chart(document.getElementById("pie-chart"), {
        type: 'pie',
        data: {
          labels: ["Granulation", "Slough", "Necrosis", "Nothing"],
          datasets: [{
            label: "Tissue Types (%)",
            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f", "#73879C"],
            data: [granulation,slough,necrosis, rest]
          }]
        },
        options: {
          title: {
            display: true,
            text: 'Tissue Types'
          }
        }
    });
    </script>
    <script type="text/javascript">
        $(".nav .nav-link").on("click", function(){
        
        let getItem = $(this).text();
        if (getItem == "Granulation"){
          $.get('/images/{{ test.Segmented_leftImage_g }}')
          .done(function() { 
              $("#tissueToShow").attr('src','/images/{{ test.Segmented_leftImage_g }}');
          }).fail(function() { 
              // Image doesn't exist - do something else.
              $("#tissueToShow").attr('src','"/images/not_found.jpg');
          })
        }else if(getItem == "Slough"){
          $.get('/images/{{ test.Segmented_leftImage_s }}')
          .done(function() { 
            $("#tissueToShow").attr('src','/images/{{ test.Segmented_leftImage_s }}');  
          }).fail(function() { 
              // Image doesn't exist - do something else.
            $("#tissueToShow").attr('src','/images/not_found.jpg');
          })
        }
        else if(getItem == "Necrosis"){
          $.get('/images/{{ test.Segmented_leftImage_n }}')
          .done(function() { 
            $("#tissueToShow").attr('src','/images/{{ test.Segmented_leftImage_n }}');  
          }).fail(function() { 
              // Image doesn't exist - do something else.
              $("#tissueToShow").attr('src','/images/not_found.jpg');
          })
        }
        $(".nav").find(".active").removeClass("active");
        $(this).addClass("active");
      });
    </script>
    <script type="text/javascript">
      $(document).ready(function($) {
          $('.image-link').magnificPopup({type:'image'});
      });
      $("#loading").hide();
            
      var sketch = document.querySelector('#sketch');
      var canvas = document.querySelector('#canvas');
      var tmp_canvas = document.createElement('canvas');
      $('#paint-modal').css('visibility', 'hidden').show();
      canvas.width = $(sketch).width();
      canvas.height = $(sketch).height();
      $('#paint-modal').css('visibility', 'visible').hide();
      tmp_canvas.width = canvas.width;
      tmp_canvas.height = canvas.height;

      var undo_canvas = [];
      var undo_canvas_len = 7;
      for (var i=0; i<undo_canvas_len; ++i) {
        var ucan = document.createElement('canvas');
        ucan.width = canvas.width;
        ucan.height = canvas.height;
        var uctx = ucan.getContext('2d');
        undo_canvas.push({'ucan':ucan, 'uctx':uctx, 'redoable':false});
      }

      var undo_canvas_top = 0; 

      var ctx = canvas.getContext('2d');
      var tmp_ctx = tmp_canvas.getContext('2d');
      tmp_canvas.id = 'tmp_canvas';
      sketch.appendChild(tmp_canvas);

      var mouse = {x: 0, y: 0};
      var start_mouse = {x:0, y:0};
      var eraser_width = 10;
      var fontSize = '14px';

      // Pencil Points
      var ppts = [];

      var chosen_size = 2; // by default
      /* Drawing on Paint App */
      tmp_ctx.lineWidth = 3;
      tmp_ctx.lineJoin = 'round';
      tmp_ctx.lineCap = 'round';
      tmp_ctx.strokeStyle = 'black';
      tmp_ctx.fillStyle = 'black';
      
      var img = new Image();
      img.src='/images/{{ test.camera_kurokesu }}';
      img.onload = function() {
        ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
      };
      
      // paint functions
      var paint_pencil = function(e) {

        mouse.x = typeof e.offsetX !== 'undefined' ? e.offsetX : e.layerX;
        mouse.y = typeof e.offsetY !== 'undefined' ? e.offsetY : e.layerY;
        // Saving all the points in an array
        ppts.push({x: mouse.x, y: mouse.y});
        if (ppts.length < 3) {
          var b = ppts[0];
          tmp_ctx.beginPath();
          //ctx.moveTo(b.x, b.y);
          //ctx.lineTo(b.x+50, b.y+50);
          tmp_ctx.arc(b.x, b.y, tmp_ctx.lineWidth / 2, 0, Math.PI * 2, !0);
          tmp_ctx.fill();
          tmp_ctx.closePath();
          return;
        }
        
        // Tmp canvas is always cleared up before drawing.
        tmp_ctx.clearRect(0, 0, tmp_canvas.width, tmp_canvas.height);
        
        tmp_ctx.beginPath();
        tmp_ctx.moveTo(ppts[0].x, ppts[0].y);
        
        for (var i = 0; i < ppts.length; i++) 
          tmp_ctx.lineTo(ppts[i].x, ppts[i].y);
        
        tmp_ctx.stroke();
        
      };

      var paint_line = function(e) {

        mouse.x = typeof e.offsetX !== 'undefined' ? e.offsetX : e.layerX;
        mouse.y = typeof e.offsetY !== 'undefined' ? e.offsetY : e.layerY;	
        // Tmp canvas is always cleared up before drawing.
        tmp_ctx.clearRect(0, 0, tmp_canvas.width, tmp_canvas.height);

        tmp_ctx.beginPath();
        tmp_ctx.moveTo(start_mouse.x, start_mouse.y);
        tmp_ctx.lineTo(mouse.x, mouse.y);
        tmp_ctx.stroke();
        tmp_ctx.closePath();
      }

      var paint_square = function(e) {
        mouse.x = typeof e.offsetX !== 'undefined' ? e.offsetX : e.layerX;
        mouse.y = typeof e.offsetY !== 'undefined' ? e.offsetY : e.layerY;	
        // Tmp canvas is always cleared up before drawing.
        tmp_ctx.clearRect(0, 0, tmp_canvas.width, tmp_canvas.height);
        tmp_ctx.beginPath();
        tmp_ctx.moveTo(start_mouse.x, start_mouse.y);

        var x = Math.min(mouse.x, start_mouse.x);
        var y = Math.min(mouse.y, start_mouse.y);
        var width = Math.abs(mouse.x - start_mouse.x);
        var height = Math.abs(mouse.y - start_mouse.y);
        tmp_ctx.strokeRect(x, y, width, height);
        tmp_ctx.closePath();
      }

      var paint_circle = function(e) {
        mouse.x = typeof e.offsetX !== 'undefined' ? e.offsetX : e.layerX;
        mouse.y = typeof e.offsetY !== 'undefined' ? e.offsetY : e.layerY;	
        // Tmp canvas is always cleared up before drawing.
        tmp_ctx.clearRect(0, 0, tmp_canvas.width, tmp_canvas.height);

        var x = (mouse.x + start_mouse.x) / 2;
        var y = (mouse.y + start_mouse.y) / 2;

        //var radius = Math.max(Math.abs(mouse.x - start_mouse.x), Math.abs(mouse.y - start_mouse.y)) / 2;
        var a = mouse.x - start_mouse.x;
        var b = mouse.y - start_mouse.y;
        var r = Math.sqrt(a*a + b*b);

        tmp_ctx.beginPath();
        //tmp_ctx.arc(x, y, radius, 0, Math.PI*2, false);
        tmp_ctx.arc(start_mouse.x, start_mouse.y, r, 0, 2*Math.PI);
        // tmp_ctx.arc(x, y, 5, 0, Math.PI*2, false);
        tmp_ctx.stroke();
        tmp_ctx.closePath();
      }

      var paint_ellipse = function(e) {
        mouse.x = typeof e.offsetX !== 'undefined' ? e.offsetX : e.layerX;
        mouse.y = typeof e.offsetY !== 'undefined' ? e.offsetY : e.layerY;	
        // Tmp canvas is always cleared up before drawing.
        tmp_ctx.clearRect(0, 0, tmp_canvas.width, tmp_canvas.height);

        var x = start_mouse.x;
        var y = start_mouse.y;
        var w = (mouse.x - x);
        var h = (mouse.y - y);
        
        tmp_ctx.save(); // save state
        tmp_ctx.beginPath();

        tmp_ctx.translate(x, y);
        tmp_ctx.scale(w/2, h/2);
        tmp_ctx.arc(1, 1, 1, 0, 2 * Math.PI, false);

        tmp_ctx.restore(); // restore to original state
        tmp_ctx.stroke();
        tmp_ctx.closePath();

      }

      var move_eraser = function(e){
        mouse.x = typeof e.offsetX !== 'undefined' ? e.offsetX : e.layerX;
        mouse.y = typeof e.offsetY !== 'undefined' ? e.offsetY : e.layerY;	
        // Tmp canvas is always cleared up before drawing.
        tmp_ctx.clearRect(0, 0, tmp_canvas.width, tmp_canvas.height);
        var tmp_lw = tmp_ctx.lineWidth;
        var tmp_ss = tmp_ctx.strokeStyle;
        tmp_ctx.lineWidth = 1;
        tmp_ctx.strokeStyle = 'black';
        tmp_ctx.beginPath();
        tmp_ctx.strokeRect(mouse.x, mouse.y, eraser_width, eraser_width);
        tmp_ctx.stroke();
        tmp_ctx.closePath();
        // restore linewidth
        tmp_ctx.lineWidth = tmp_lw;
        tmp_ctx.strokeStyle = tmp_ss;
      }

      var paint_text = function(e) {
        // Tmp canvas is always cleared up before drawing.
        tmp_ctx.clearRect(0, 0, tmp_canvas.width, tmp_canvas.height);
        mouse.x = typeof e.offsetX !== 'undefined' ? e.offsetX : e.layerX;
        mouse.y = typeof e.offsetY !== 'undefined' ? e.offsetY : e.layerY;	

        var x = Math.min(mouse.x, start_mouse.x);
        var y = Math.min(mouse.y, start_mouse.y);
        var width = Math.abs(mouse.x - start_mouse.x);
        var height = Math.abs(mouse.y - start_mouse.y);
        
        textarea.style.left = x + 'px';
        textarea.style.top = y + 'px';
        textarea.style.width = width + 'px';
        textarea.style.height = height + 'px';
        
        textarea.style.display = 'block';
      }

      var paint_eraser = function(e) {
        mouse.x = typeof e.offsetX !== 'undefined' ? e.offsetX : e.layerX;
        mouse.y = typeof e.offsetY !== 'undefined' ? e.offsetY : e.layerY;	
        // erase from the main ctx
        ctx.clearRect(mouse.x, mouse.y, eraser_width, eraser_width);
      }


      // Choose tool
      tool = 'pencil';
      tools_func = {'pencil':paint_pencil, 'line':paint_line, 'square':paint_square, 
              'circle':paint_circle, 'ellipse':paint_ellipse, 'eraser':paint_eraser,
              'text':paint_text};

      $('#paint-panel').on('click', function(event){
        // remove the mouse down eventlistener if any
        tmp_canvas.removeEventListener('mousemove', tools_func[tool], false);

        var target = event.target,
          tagName = target.tagName.toLowerCase();
        
        if(target && tagName != 'button'){
          target = target.parentNode;
          tagName = target.tagName.toLowerCase();
        }

        if(target && tagName === 'button'){
          tool = $(target).data('divbtn');

          if (tool === 'eraser') {
            tmp_canvas.addEventListener('mousemove', move_eraser, false);
            $(tmp_canvas).css('cursor', 'none');
          }
          else {
            tmp_canvas.removeEventListener('mousemove', move_eraser, false);	
            $(tmp_canvas).css('cursor', 'crosshair');
            tmp_ctx.clearRect(0, 0, tmp_canvas.width, tmp_canvas.height);
          }
        }
      });

      // Change color
      $('#color-panel').on('click', function(event){
        // remove the mouse down eventlistener if any
        tmp_canvas.removeEventListener('mousemove', tools_func[tool], false);

        var target = event.target,
          tagName = target.tagName.toLowerCase();
        
        if(target && tagName != 'button'){
          target = target.parentNode;
          tagName = target.tagName.toLowerCase();
        }

        if(target && tagName === 'button'){
          tmp_ctx.strokeStyle =  $(target).data('color');
          tmp_ctx.fillStyle =  $(target).data('color');
        }
      });



      // Mouse-Down 
      tmp_canvas.addEventListener('mousedown', function(e) {
        
        mouse.x = typeof e.offsetX !== 'undefined' ? e.offsetX : e.layerX;
        mouse.y = typeof e.offsetY !== 'undefined' ? e.offsetY : e.layerY;
        start_mouse.x = mouse.x;
        start_mouse.y = mouse.y;	
        tmp_ctx.clearRect(0, 0, tmp_canvas.width, tmp_canvas.height);

        if (tool === 'pencil') {
          tmp_canvas.addEventListener('mousemove', paint_pencil, false);
          ppts.push({x: mouse.x, y: mouse.y});
          paint_pencil(e);
        }
        
        if (tool === 'line') {
          tmp_canvas.addEventListener('mousemove', paint_line, false);
        }

        if (tool === 'square') {
          tmp_canvas.addEventListener('mousemove', paint_square, false);	
        }
        
        if (tool === 'circle') {
          tmp_canvas.addEventListener('mousemove', paint_circle, false);
          // Mark the center
          
          tmp_ctx.beginPath();
          //ctx.moveTo(b.x, b.y);
          //ctx.lineTo(b.x+50, b.y+50);
          tmp_ctx.arc(start_mouse.x, start_mouse.y, tmp_ctx.lineWidth / 2, 0, Math.PI * 2, !0);
          tmp_ctx.fill();
          tmp_ctx.closePath();
          // copy to real canvas
          ctx.drawImage(tmp_canvas, 0, 0);	
        }

        if (tool === 'ellipse') {
          tmp_canvas.addEventListener('mousemove', paint_ellipse, false);
        }

        if (tool === 'text') {
          tmp_canvas.addEventListener('mousemove', paint_text, false);
          textarea.style.display = 'none'; // important to hide when clicked outside
        }

        if (tool === 'eraser') {
          tmp_canvas.addEventListener('mousemove', paint_eraser, false);
          // erase from the main ctx
          ctx.clearRect(mouse.x, mouse.y, eraser_width, eraser_width);		
        }

        if (tool === 'fill') {
          var replacement_color = hex_to_color(tmp_ctx.strokeStyle);
          //console.log(tmp_ctx.strokeStyle);	
          var red_component = {'red':255, 'lime':0, 'blue':0, 'orange':255, 'yellow':255, 'magenta':255, 
                'cyan':0, 'purple':128, 'brown':165, 'gray':128, 'lavender':230, 
                'white':255, 'black':0};
          var green_component = {'red':0, 'lime':255, 'blue':0, 'orange':165, 'yellow':255, 'magenta':0, 
                'cyan':255, 'purple':0, 'brown':42, 'gray':128, 'lavender':230, 
                'white':255, 'black':0};
          var blue_component = {'red':0, 'lime':0, 'blue':255, 'orange':0, 'yellow':0, 'magenta':255, 
                'cyan':255, 'purple':128, 'brown':42, 'gray':128, 'lavender':250, 
                'white':255, 'black':0};												

          var replace_r = red_component[replacement_color];
          var replace_g = green_component[replacement_color];
          var replace_b = blue_component[replacement_color];

          var imgd = ctx.getImageData(0, 0, canvas.width, canvas.height);
          var pix = imgd.data;
          // pix is row-wise straightened array
          var pos = 4 * (canvas.width * mouse.y + mouse.x);
          var target_color = map_to_color(pix[pos],pix[pos+1],pix[pos+2],pix[pos+3]);
          
          // start the flood fill algorithm
          if (replacement_color !== target_color) {
            var Q = [pos];
            while (Q.length > 0) {
              pos = Q.shift();
              if (map_to_color(pix[pos],pix[pos+1],pix[pos+2],pix[pos+3]) !== target_color)
                continue; // color is already changed

              var left = find_left_most_similar_pixel(pix, pos, target_color);
              var right = find_right_most_similar_pixel(pix, pos, target_color);
              // replace color
              //console.log('right: '+ (right/4)%canvas.width + ' '+ Math.floor(right/(4*canvas.width))  );
              //console.log(j+'. '+(right-left));
              for (var i=left; i<=right; i=i+4) {
                pix[i] = replace_r;
                pix[i+1] = replace_g;
                pix[i+2] = replace_b;
                pix[i+3] = 255; // not transparent

                var top = i - 4*canvas.width;
                var down = i + 4*canvas.width;

                if (top >= 0 && map_to_color(pix[top], pix[top+1], pix[top+2], pix[top+3]) === target_color) 
                  Q.push(top); 

                if (down < pix.length && map_to_color(pix[down], pix[down+1],pix[down+2],pix[down+3]) === target_color)
                  Q.push(down);
              }
              
            }	
            
            // Draw the ImageData at the given (x,y) coordinates.
            ctx.putImageData(imgd, 0, 0);	
              
          }

          
        }
        
      }, false);
        
      // for filling	
      var find_left_most_similar_pixel = function(pix, pos, target_color) {
        var y = Math.floor(pos/(4*canvas.width));
        var left = pos;
        var end = y * canvas.width * 4;
        while (end < left) {
          if (map_to_color(pix[left-4],pix[left-3],pix[left-2],pix[left-1]) === target_color)
            left = left - 4;
          else
            break;
        }
        return left;
      }

      var find_right_most_similar_pixel = function(pix, pos, target_color) {
        var y = Math.floor(pos/(4*canvas.width));
        var right = pos;
        var end = (y+1) * canvas.width * 4 - 4;
        while (end > right) {
          if (map_to_color(pix[right+4],pix[right+5],pix[right+6],pix[right+7]) === target_color)
            right = right + 4;
          else
            break;
        }
        return right;
      }

      var hex_to_color = function(hex) {
        // Expand shorthand form (e.g. "03F") to full form (e.g. "0033FF")
        var shorthandRegex = /^#?([a-f\d])([a-f\d])([a-f\d])$/i;
        hex = hex.replace(shorthandRegex, function(m, r, g, b) {
          return r + r + g + g + b + b;
          });

        var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
        var r = parseInt(result[1], 16),
          g = parseInt(result[2], 16),
          b = parseInt(result[3], 16);
        
        return map_to_color(r, g, b, 255);
      }

      var map_to_color = function(r,g,b,a) {
        if (a === 0)
          return 'white';
        else {
          if (r===255 && g===0 && b===0)
            return 'red';
          if (r===0 && g===255 && b===0)
            return 'lime';
          if (r===0 && g===0 && b===255)
            return 'blue';
          if (r===255 && g===255 && b===0)
            return 'yellow';
          if (r===255 && g===0 && b===255)
            return 'magenta';
          if (r===0 && g===255 && b===255)
            return 'cyan';
          if (r===255 && g===165 && b===0)
            return 'orange';
          if (r===128 && g===0 && b===128)
            return 'purple';
          if (r===128 && g===128 && b===128)
            return 'gray';
          if (r===0 && g===0 && b===0)
            return 'black';
          if (r===230 && g===230 && b===250)
            return 'lavender';
          if (r===165 && g===42 && b===42)
            return 'brown';
        }

        return 'white';
      }

      // text-tool
      var textarea = document.createElement('textarea');
      textarea.id = 'text_tool';
      sketch.appendChild(textarea);


      textarea.addEventListener('mouseup', function(e) {
        tmp_canvas.removeEventListener('mousemove', paint_text, false);
      }, false);

      // set the color
      textarea.addEventListener('mousedown', function(e){
        textarea.style.color = tmp_ctx.strokeStyle;
        textarea.style['font-size'] = fontSize;
      }, false);


      textarea.addEventListener('blur', function(e) {
        var lines = textarea.value.split('\n');
          var ta_comp_style = getComputedStyle(textarea);
          var fs = ta_comp_style.getPropertyValue('font-size');
          
          var ff = ta_comp_style.getPropertyValue('font-family');

          tmp_ctx.font = fs + ' ' + ff;
          tmp_ctx.textBaseline = 'hanging';
        
          for (var n = 0; n < lines.length; n++) {
            var line = lines[n];
          
            tmp_ctx.fillText(
              line,
              parseInt(textarea.style.left),
              parseInt(textarea.style.top) + n*parseInt(fs)
            );    		
          }
        
          // Writing down to real canvas now
          ctx.drawImage(tmp_canvas, 0, 0);
          textarea.style.display = 'none';
          textarea.value = '';
          // Clearing tmp canvas
          tmp_ctx.clearRect(0, 0, tmp_canvas.width, tmp_canvas.height);

          // keep the image in the undo_canvas
          undo_canvas_top = next_undo_canvas(undo_canvas_top);
          var uctx = undo_canvas[undo_canvas_top]['uctx'];
          uctx.clearRect(0, 0, canvas.width, canvas.height);
          uctx.drawImage(canvas, 0, 0);
          undo_canvas[undo_canvas_top]['redoable'] = false;
      });

      tmp_canvas.addEventListener('mouseup', function() {
        tmp_canvas.removeEventListener('mousemove', tools_func[tool], false);
        
        // Writing down to real canvas now
        // text-tool is managed when textarea.blur() event
        if (tool !='text') {
          ctx.drawImage(tmp_canvas, 0, 0);
          // keep the image in the undo_canvas
          undo_canvas_top = next_undo_canvas(undo_canvas_top);
          var uctx = undo_canvas[undo_canvas_top]['uctx'];
          uctx.clearRect(0, 0, canvas.width, canvas.height);
          uctx.drawImage(canvas, 0, 0);
          undo_canvas[undo_canvas_top]['redoable'] = false;
        }


        // Clearing tmp canvas
        tmp_ctx.clearRect(0, 0, tmp_canvas.width, tmp_canvas.height);
        
        // Emptying up Pencil Points
        ppts = [];
      }, false);

      var next_undo_canvas = function(top) {
        if (top === undo_canvas_len-1)
          return 0;
        else
          return top+1;
      }

      var prev_undo_canvas = function(top) {
        if (top === 0) 
          return undo_canvas_len-1;
        else
          return  top-1;
      }

      // clear paint area
      $('#paint-clear').click(function(){
        ctx.clearRect(0, 0, tmp_canvas.width, tmp_canvas.height);
        // keep the image in the undo_canvas
        undo_canvas_top = next_undo_canvas(undo_canvas_top);
        var uctx = undo_canvas[undo_canvas_top]['uctx'];
        uctx.clearRect(0, 0, canvas.width, canvas.height);
        uctx.drawImage(canvas, 0, 0);
        undo_canvas[undo_canvas_top]['redoable'] = false;
      });


      // Change Size
      $('#choose-size .radio-group').on('click', function(){
        var s = $('input[name=size]:checked', '#choose-size').val();
        if (s==='1') {
          tmp_ctx.lineWidth = 1;
          eraser_width = 5;
          fontSize = '10px';
        }
        if (s==='2') {
          tmp_ctx.lineWidth = 3;
          eraser_width = 10;
          fontSize = '14px';
        }
        if (s==='3') {
          tmp_ctx.lineWidth = 6;
          eraser_width = 15;
          fontSize = '18px';
        }
        if (s==='4') {
          tmp_ctx.lineWidth = 10;
          eraser_width = 20;
          fontSize = '22px';
        }
      });

      // undo-redo tools
      $('#undo-tool').on('click', function(){
        var prev = prev_undo_canvas(undo_canvas_top);
        if (!undo_canvas[prev].redoable) {
          console.log(undo_canvas_top+' prev='+prev);
          var ucan = undo_canvas[prev]['ucan'];
          ctx.clearRect(0, 0, canvas.width, canvas.height);
          ctx.drawImage(ucan, 0, 0);
          undo_canvas[undo_canvas_top].redoable = true;
          undo_canvas_top = prev;
        }
      });

      $('#redo-tool').on('click', function(){
        var next = next_undo_canvas(undo_canvas_top);
        if (undo_canvas[next].redoable) {
          console.log(undo_canvas_top);
          var ucan = undo_canvas[next]['ucan'];
          ctx.clearRect(0, 0, canvas.width, canvas.height);
          ctx.drawImage(ucan, 0, 0);
          undo_canvas[next].redoable = false;
          undo_canvas_top = next;
        }
      });

      function saveImage(){
        var image = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");  // here is the most important part because if you dont replace you will get a DOM 18 exception.
        var a  = document.createElement('a');
        a.href = image;
        a.download = 'image.png';
        a.click()
      }

    </script>    
{% endblock content %}

{% block javascripts %}

    {{ block.super }}
{% endblock javascripts %}